.feature {
    padding-left: 95px;
    position: relative
}

.feature i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 26px;
    color: #1abc9c
}

.sfondoGrigio{
    background: #E0E0E0;
}