.feature {
    padding-left: 95px;
    position: relative
}

.feature i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 26px;
    color: #1abc9c
}

.sfondoGrigio{
    background: #f3f3f3;
}

footer{
    color: #000;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 13px;

}

#nav-footer{
    background: #f3f3f3;

}
#nav-footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px;
}

#nav-footer ul li a {
    color: #000;
}

.img{
    height: 400px;
    width: 90%;
}
a#logo {
    width: 200px;
    height: 100px;
    background: url(../img/logo.jpg) no-repeat;
}

#flag {
    width: 35px;
    height: 23px;
}
.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;

}

.h1, h1 {
    font-size: 36px;
}

#sub-header {
    padding: 300px 0 60px;
    color: #000;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    background: url(../img/sfondo_listaCorsi.jpg);
}
.box_style_1 {
    padding: 15px 25px 5px;
    box-shadow: inset 0 0 0 1px #e0e5e9;
    border: 5px solid #fbfbfc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    background-color: #fff
}

.box_style_1 h4 {
    border-bottom: 1px solid #eaeff3;
    padding-bottom: 10px;
    text-transform: uppercase
}



ul.submenu-col {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px
}

ul.submenu-col li a {
    text-decoration: none;
    padding: 4px 10px;
    display: block;
    margin-bottom: 3px
}

ul.submenu-col li a#active {
    background: url(../img/arrow.png) 96% center no-repeat #0cbdaa;
    color: #fff
}

ul.submenu-col li a:hover {
    background: #efefef;
    color: #111
}


.breadcrumb {
    background: 0 0;
    padding: 0;
    font-size: 12px;
    margin-top: 30px
}

#search {
    position: relative;
    float: right;
    top: -20px;
    width: 120px;
    box-sizing: border-box;
    border: 2px solid #2a97d6;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 2em;
}

.add_bottom_45 {
    margin-bottom: 45px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box_style_3 {
    position: relative;
    margin: 0 0 2em;
    text-align: center;
    background: #fff;
    padding: 30px 30px 10px;
    border: 2px solid #d3edd6
}

#img-docente {
    width: 30%;
    height: 30%;
}

.img-doc {
    background-color: #d3edd6;
    -moz-box-shadow: 0 0 0 5px #d3edd6;
    -webkit-box-shadow: 0 0 0 5px #d3edd6;
    box-shadow: 0 0 0 5px #ededed;
    margin: auto; 
}

.p-title {
    display: block;
    height: 40px
}
ul.social_team {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    font-size: 16px
}

ul.social_team li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#facebook {
    
    width: 100%;
    height: 100%;
}
#twitter {
    width: 100%;
    height: 100%;
}


.button_medium_outline,
a.button_medium_outline {
    background: 0 0;
    color: #4aa855;
    border-radius: 4px;
    border: 1px solid #61d86f;
    padding: 5px 10px;
    text-decoration: none;
    transition: .5s ease;
    -moz-transition: .5s ease;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased
}


#sub-header-corsi 
{
    padding: 300px 0 60px;
    color: #000;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    background: url(../img/corsi_modificato_1.png) no-repeat ;
}
.box_style_4
{
    position: relative;
    margin: 0 0 2em;
    text-align: center;
    background: #f3f3f3;
    padding: 100px 100px 100px;
    border: 2px solid #d3edd6;
    border-style: dotted 
     
}