<section>
    <!--breadcrumb-->
    <section id="main_content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="BackofficeD?lin=it">BackofficeD</a></li>
                <li class="active"> I miei corsi</li>
            </ol>
    </section>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 sidenav ">
                <br>

                <div class="sidemenu sfondoGrigio">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="BackofficeD?lin=it">I miei corsi</a></li>
                    </ul>
                    <h3>CREA</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="CreateMaterialeD">Nuovo Materiale</a></li>
                        <li><a href="CreateLibroD">Nuovo Libro</a></li>
                    </ul>
                    <br>
                    <h3>MODIFICA</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="UpdateMaterialeD">Aggiorna Materiale</a></li>
                        <li><a href="UpdateLibroD">Aggiorna Libro</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                
            </div>
        </div>
    </div>
</section>