<#noautoesc>

<section id="sub-header-corsi" >


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Dettagli Del Corso</h1>
            <p class="lead"></p>
        </div>
    </div><!-- End row -->
</section>

<div class="container">
    <div class="row" id="sub-header-features-2">
        <div class="col-md-4">
            <h2>Informazioni generali</h2>
            <ul class="lista">
                <li><strong>SSD:</strong> &nbsp;${corso.SSD}</li>
                <li><strong>CDL:</strong>&nbsp;<#list corso.CDL as cdl>
                    <#if cdl.abbr_it?trim?has_content>${cdl.abbr_it}<#else>${cdl.abbr_en}</#if><#if cdl?has_next>,&nbsp;</#if>
                    </#list></li>
                <li><strong>Lingua:</strong>&nbsp;  ${corso.lingua}</li>
                <li><strong>Semestre:</strong>&nbsp;  ${corso.semestre}</li>
                <li><strong>CFU (e tipo):</strong>&nbsp;  ${corso.cfu} / ${corso.tipologia}</li>
                <li><strong>Anno Accademico:</strong>&nbsp; ${corso.anno?c}/${(corso.anno+1)?c}</li>
            </ul>
            <br>
        </div>

        <div class="col-md-4">
            <h2>Prerequisiti</h2>
            <span><#if descrizione_it.prerequisiti?trim?has_content> ${descrizione_it.prerequisiti} <#else> ${descrizione_en.prerequisiti} </#if></span>
        </div>

        <div class="col-md-4">
            <h2>Obiettivi</h2>
            <span><#if descrizione_it.obiettivi?trim?has_content> ${descrizione_it.obiettivi} <#else> ${descrizione_en.obiettivi} </#if></span>
        </div>
    </div><!-- End row --> 
    
    
    <div class="row">
        <div class="col-md-12">
            <br>
            <ul class="nav nav-pills nav-stacked">
                <#list propedeudici as propedeudico>
                <li><strong>Corsi propedeudici:</strong> <strong><a href="DetailsCorso?n=${propedeudico.ID}&lin=it" id="dc"><#if propedeudico.nome_it?trim?has_content>  ${propedeudico.nome_it} <#else> ${propedeudico.nome_en} </#if></a></strong> </li>
                </#list>


                <#if mutuati?has_content>
                <li><strong>Corsi mutuati:</strong><#list mutuati as mutua> <strong><a href="DetailsCorso?n=${mutua.ID}&lin=it" id="dc"> <#if mutua.nome_it?trim?has_content>  ${mutua.nome_it} <#if mutua?has_next>,&nbsp</#if> <#else> ${mutua.nome_en} <#if mutua?has_next>,&nbsp</#if></#if></a></strong></#list> </li>
                </#if>   

                <#if mutuato??><li><strong>Mutuato da:</strong> <strong><a href="DetailsCorso?n=${mutuato.ID}&lin=it" id="dc"><#if mutuato.nome_it?trim?has_content>  ${mutuato.nome_it} <#else> ${mutuato.nome_en}</#if></a></strong> </#if></li>


                <#list moduli as modulo>
                <li><strong>Corsi moduli:</strong> <a href="DetailsCorso?n=${modulo.ID}&lin=it" id="dc"><#if modulo.nome_it?trim?has_content>  ${modulo.nome_it} <#else> ${modulo.nome_en} </#if></a> </li>
                </#list>


            </ul>
        </div>
    </div>


</div><!-- End container -->



<!------------ FINE PARTE INFORMATIVA---->

<section id="main_content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="Home?lin=it">Home</a></li>
            <li><a href="Corsi?lin=it">Lista Corsi</a></li>
            <li class="active"><#if corso.nome_it?trim?has_content> ${corso.nome_it} <#else> ${corso.nome_en} </#if></li>
        </ol>



        <!--------Contenuto principale---------->
        <div class="row">
            <div class="col-md-8">

                <section id="space">
                    <h3>Sillabo</h3>
                    <#if descrizione_it.sillabo?trim?has_content> ${descrizione_it.sillabo} <#else> ${descrizione_en.sillabo} </#if>
                </section>



                <h3>Descrittori di Dublino</h3>
                <main class="main" id="space">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab4">Knowledge</a></li>
                        <li><a data-toggle="tab" href="#tab5">Application</a></li>
                        <li><a data-toggle="tab" href="#tab6">Evaluation attivi</a></li>
                        <li><a data-toggle="tab" href="#tab7">Communication</a></li>
                        <li><a data-toggle="tab" href="#tab8">Lifelong</a></li>
                    </ul>
                    
                    <div class="tab-content">
                    <div id="tab4" class="tab-pane fade">
                        <#noautoesc>
                        <#if dublino_it.knowledge?trim?has_content> ${dublino_it.knowledge} <#else> ${dublino_en.knowledge} </#if>
                        </#noautoesc>
                    </div>
                    <div id="tab5" class="tab-pane fade">
                        <#noautoesc>
                        <#if dublino_it.application?trim?has_content> ${dublino_it.application} <#else> ${dublino_en.application} </#if>              
                        </#noautoesc>
                    </div>
                    <div id="tab6" class="tab-pane fade">
                        <#noautoesc>
                        <#if dublino_it.evaluation?trim?has_content> ${dublino_it.evaluation} <#else> ${dublino_en.evaluation} </#if>
                        </#noautoesc>
                    </div> 
                    <div id="tab7" class="tab-pane fade">
                        <#noautoesc>
                        <#if dublino_it.communication?trim?has_content> ${dublino_it.communication} <#else> ${dublino_en.communication} </#if>
                        </#noautoesc>
                    </div>    
                    <div id="tab8" class="tab-pane fade">
                        <#noautoesc>
                        <#if dublino_it.lifelong?trim?has_content> ${dublino_it.lifelong} <#else> ${dublino_en.lifelong} </#if>
                        </#noautoesc>
                    </div>
                    </div>
                </main>




                <section id="space">
                    <h3>Modalit&#224 d'esame</h3>

                    <#if descrizione_it.mod_Esame?trim?has_content> ${descrizione_it.mod_Esame} <#else> ${descrizione_en.mod_Esame} </#if>

                </section>

                <section id="space">
                    <h3>Modalit&#224 d'insegnamento</h3>

                    <#if descrizione_it.mod_Insegnamento?trim?has_content> ${descrizione_it.mod_Insegnamento} <#else> ${descrizione_en.mod_Insegnamento} </#if>

                </section>

                <section id="space">
                    <h3>Note</h3>

                    <#if descrizione_it.note?trim?has_content> ${descrizione_it.note} <#else> ${descrizione_en.note} </#if>

                </section>


                <#if precedenti??>
                <section id="space">
                    <h3>Versioni Pagina Corso</h3>
                    <#list precedenti?sort_by("anno") as precedenti>
                    <li><a href="#"> A.A. ${precedenti.anno?c}/${(precedenti.anno+1)?c} </a></li>
                    </#list>
                    <#if nn!=corso.ID> <li><a href="DetailsCorso?n=${nn}&lin=it"> Informazioni correnti </a></li> </#if>
                </section>
                </#if>
            </div><!-- End col-md-8-->   	


            <!-------Fine Contenuto principale---------->


            <aside class="col-md-4"> <!--tabelle destra-->

                <div class="box_style_1">
                    <h4><a href="Materiale?k=${corso.ID}&lin=it">Materiale</a></h4><br>
                    <h4>Insegnanti</h4>
                    <#list docenti as docente>
                    <div class="media">
                            
                        <div class="media-body">
                            <h5 class="media-heading"><a href="DettagliDocente?k=${docente.IDDocente}&lin=it">${docente.nome} ${docente.cognome}</a></h5>
                        </div>
                    </div>
                    </#list>


                </div>

                <div class="box_style_1">
                    <h4>Libri di Testo</h4>
                    <ul>
                        <#list libri as libro>
                        <li><#if libro.link??><a href="${libro.link}"></#if>${libro.titolo}</a>,<#if libro.volume!=0> Vol.${libro.volume},</#if> ${libro.anno?c}, ${libro.autore}, ${libro.editore} </li>
                        </#list>
                    </ul>
                </div>



                <#if descrizione_it.homepage?trim?has_content || descrizione_it.forum?trim?has_content || descrizione_it.risorse_Ext?trim?has_content || descrizione_en.homepage?trim?has_content || descrizione_en.forum?trim?has_content || descrizione_en.risorse_Ext?trim?has_content>   

                <div class="box_style_1">
                    <h4>Link Esterni</h4>
                    <ul>
                        <#if descrizione_it.homepage?trim?has_content><li><a href="${descrizione_it.homepage}">Homepage</a></li><#elseif descrizione_en.homepage?trim?has_content><li><a href="${descrizione_en.homepage}">Homepage</a></li></#if>
                        <#if descrizione_it.forum?trim?has_content><li><a href="${descrizione_it.forum}">Forum</a></li><#elseif descrizione_en.forum?trim?has_content><li><a href="${descrizione_en.forum}">Forum</a></li></#if>
                        <#if descrizione_it.risorse_Ext?trim?has_content><li><a href="${descrizione_it.risorse_Ext}">Risorse Esterne</a></li><#elseif descrizione_en.risorse_Ext?trim?has_content><li><a href="${descrizione_en.risorse_Ext}">Risorse Esterne</a></li></#if>
                    </ul>
                </div>

                </#if>

            </aside> <!-- End col-md-4 -->

        </div><!-- End row -->
    </div><!-- End container -->
</section>

</#noautoesc>