<section id="sub-header-corsi">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1>Courses</h1>
                <p class="lead boxed">All the courses available</p>
        </div>
    </div>
</section>

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <#if lingua=="it">
            <li><a href="Home?lin=it">HOME</a></li>
            <#else>
            <li><a href="Home?lin=en">HOME</a></li>
            </#if>
        </ol>

            <div class="container">
                <div class="box_style_4">
                    
                </div>
                  
            </div>
</section>