<section>
    <!--breadcrumb-->
    <section id="main_content">
        <div class="container">
            <#if docente??>
            <ol class="breadcrumb"> 
                <li>
                    <a href="BackofficeD">BackofficeD</a>
                </li>
                <li class="active">
                    Aggiungi libro
                </li>
            </ol>
            <#else>
            <ol class="breadcrumb"> 
                <li>
                    <a href="Backoffice">Backoffice</a>
                </li>
                <li class="active">
                    Aggiungi libro
                </li>
            </ol>
            </#if>
    </section>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 sidenav sfondoGrigio">
                <br>

                <div class="sidemenu">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="Log">Visualizza Log</a></li>
                        </ul>
                        <h3>CREA</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="CreateCorso">Crea Corso</a></li>
                            <li><a href="CreateCDL">Crea CDL</a></li>
                            <li><a href="CreateDocente">Crea Docente</a></li>
                            <li><a href="CreateAdmin">Crea Amministratore</a></li>
                            <li><a href="CreateMateriale">Nuovo Materiale</a></li>
                            <li><a href="CreateLibro">Nuovo Libro</a></li>
                        </ul>
                        <br>
                        <h3>MODIFICA</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="ModificaCDL">Modifica CDL</a></li>
                            <li><a href="AllCorsi">Modifica Corso</a></li>
                            <li><a href="ModificaDocente">Modifica Docente</a></li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-10">
                <form method="post" action="CreateLibro">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Autore</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Autore" name="autore">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>Titolo libro</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Titolo" name="titolo" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Volume libro</h5>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Volume" name="volume">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>Anno pubblicazione</h5>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Anno" name="anno">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Editore</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Editore" name="editore">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>Link</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Link" name="link">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" name="corso" required>
                                    <option selected disabled>Seleziona corso</option>
                                    <#list corso as corso>
                                    <option value="${corso.ID}">${corso.nome_it}</option>
                                    </#list>
                                </select>
                            </div>

                        </div>
                    </div>
                    <input type="submit" name="aggiungi" value="Creazione materiale" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</section>