<section>
    <!--breadcrumb-->
    <section id="main_content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="BackofficeD?lin=it">BackofficeD</a></li>
                <li class="active"> Aggiungi Libro</li>
            </ol>
    </section>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 sidenav ">
                <br>

                <div class="sidemenu sfondoGrigio">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="BackofficeD?lin=it">I miei corsi</a></li>
                    </ul>
                    <h3>CREA</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="CreateMaterialeD">Nuovo Materiale</a></li>
                        <li><a href="CreateLibroD">Nuovo Libro</a></li>
                    </ul>
                    <br>
                    <h3>MODIFICA</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="UpdateMaterialeD">Aggiorna Materiale</a></li>
                        <li><a href="UpdateLibroD">Aggiorna Libro</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <form method="post" action="CreateLibroD">
                    <div class="row">
                        <!--LIBRI-->


                        <h4>Indicazioni libri</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Autore</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control " placeholder="Autore" name="autore">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Titolo libro</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Titolo" name="titolo" required>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <h5>Volume libro</h5>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Volume" name="volume">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Anno pubblicazione</h5>
                                <div class="form-group">
                                    <input type="number" class="form-control " placeholder="Anno" name="anno">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <h5>Editore</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Editore" name="editore">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Link</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control " placeholder="Link" name="link">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <select class="form-control" name="corso" required>
                                        <option selected disabled>Seleziona corso...</option>
                                        <#list corso as corso>
                                        <option value="${corso.ID}">${corso.nome_it}</option>
                                        </#list>
                                    </select>

                                </div>

                            </div>
                        </div>
                        <input type="submit" name="aggiungi" value="Creazione materiale" class="btn btn-primary">
                    </div>

            </div>
        </div>



    </div>

</section>