<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3>Insegnanti</h3>
                <h4 >Esplora i nostri magnifici insegnanti</h4>
            </div>
        </div><!-- End row -->
</section><!-- End sub-header -->

<section id="main_content">	
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="Home?lin=it">Home</a></li>
            <li class="active">Lista Docenti</li>
        </ol>

        
        <div id="table" class="row">

            <#list docenti as docente>

            <div class="col-md-6 col-sm-6">
                
                    <p><img id="img-docente" src="${docente.immagine}" alt="Teacher" class="img-doc img img-rounded"></p>
                    <h4 class="p-title">${docente.nome} ${docente.cognome} <br> <small>${docente.specializzazione}</small></h4>
                    <p></p>


                    
                        <ul class="social_team">
                            <li><a href="https://www.facebook.com"><img id="social" src="img/Facebook.png"/></a></li>
                            <li><a href="https://www.twitter.com"><img id="social" src="img/Twitter.png"/></a></li>
                            <li><a href="https://www.google.com/gmail/"><img id="social" src="img/Gmail.png"/></a></li>

                        </ul>    
                        <br>
                        <a href="DettagliDocente?k=${docente.IDDocente}&lin=it" class="button_profile">Profilo</a>           
                    
                
            </div>
            
        </#list>    



    </div><!-- End row -->    
</div><!-- End container -->
</section><!-- End main_content-->