<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3>Insegnanti</h3>
                <h4 >Esplora i nostri magnifici insegnanti</h4>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">	
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="Home?lin=it">Home</a></li>
            <li class="active">Lista Docenti</li>
        </ol>


        <div id="table" class="row">
            <div class="col-md-6 col-sm-6">
                <div class="box_style_3">
                    <p><img id="img-docente" src="img/FilippoMignosi.jpg" alt="Teacher" class="img-doc"></p>
                    <h4 class="p-title">Filippo Mignosi ${docente.cognome} <br> <small>${docente.specializzazione}</small></h4>
                    <p></p>
                    <ul class="social_team">
                                    <li><a href="https://www.facebook.com"><img id="facebook" src="img/Facebook.png"/></a></li>
                                    <li><a href="https://www.twitter.com"><img id="twitter" src="img/Twitter.png"/></a></li>
                                    <li><a href="https://www.google.com/gmail/"><img id="twitter" src="img/Gmail.png"/></a></li>
                                    
                    </ul>    
                    <br>
                 <a href="dettaglidocente?k=${docente.IDDocente}&lin=it" class="button_profile">Profilo</a>           
                               
                    
                    
                    
                </div>
            </div><!-- End row -->    
        </div><!-- End container -->
</section><!-- End main_content-->