<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Teachers</h1>
                <h3>Explore our magnificent teachers</h3>
            </div>
        </div><!-- End row -->
</section><!-- End sub-header -->

<section id="main_content">	
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="Home?lin=it">Home</a></li>
            <li class="active">Teachers list</li>
        </ol>

            <!--inizio!-->
        <div class="row" >
            <div class="col-md-12">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Teachers</strong></h3>

                </div>
                <table class="table table-responsive table-striped table-bordered">
                    <thead>  
                        <tr>
                            <th>Surname</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <#list docenti as docente>
                        <tr>
                            <td><strong>${docente.cognome}</strong></td>
                            <td><strong>${docente.nome}</strong></td>
                            <td>
                                <ul class="social_team" style="text-align: center">
                                    <li><a href="https://www.facebook.com"><img id="social" src="img/Facebook.png"/></a></li>
                                    <li><a href="https://www.twitter.com"><img id="social" src="img/Twitter.png"/></a></li>
                                    <li><a href="https://www.google.com/gmail/"><img id="social" src="img/Gmail.png"/></a></li>

                                </ul>
                            </td>
                            <td style="text-align: center">
                                <a href="DettagliDocente?k=${docente.IDDocente}&lin=it" class="button_profile">Visit</a>
                            </td>

                        </tr>
                        </#list>

                    </tbody>
                </table>
            </div><!-- End filterable -->

        </div><!-- End container -->
</section><!-- End main_content-->