<section>
    <!--breadcrumb-->
    <section id="main_content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="Backoffice?lin=it">Backoffice</a></li>
                <li class="active"> Modifica Corso
                </li>
            </ol>
    </section>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 sidenav sfondoGrigio">
                <br>

                <h3>CREA</h3>
                <div class="sidemenu">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="CreateCorso">Crea Corso</a></li>
                        <li><a href="CreateCDL">Crea CDL</a></li>
                        <li><a href="CreateDocente">Crea Docente</a></li>
                        <li><a href="CreateAdmin">Crea Amministratore</a></li>
                        <li><a href="CreateMateriale">Nuovo Materiale</a></li>
                        <li><a href="CreateLibro">Nuovo Libro</a></li>
                    </ul>
                    <br>
                    <h3>MODIFICA</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="ModificaCDL">Modifica CDL</a></li>
                        <li><a href="AllCorsi">Modifica Corso</a></li>
                        <li><a href="ModificaDocente">Modifica Docente</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">


            </div>
        </div>
    </div>
</section>