<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>CreateCDL</servlet-name>
        <servlet-class>courseweb.controller.CreateCDL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCDL</servlet-name>
        <url-pattern>/CreateCDL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Backoffice</servlet-name>
        <servlet-class>courseweb.controller.Backoffice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Backoffice</servlet-name>
        <url-pattern>/Backoffice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackofficeD</servlet-name>
        <servlet-class>courseweb.controller.BackofficeD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackofficeD</servlet-name>
        <url-pattern>/BackofficeD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Docenti</servlet-name>
        <servlet-class>courseweb.controller.Docenti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Docenti</servlet-name>
        <url-pattern>/Docenti</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>ProfiloDocente</servlet-name>
        <servlet-class>courseweb.controller.ProfiloDocente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfiloDocente</servlet-name>
        <url-pattern>/ProfiloDocente</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>Corsi</servlet-name>
        <servlet-class>courseweb.controller.Corsi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Corsi</servlet-name>
        <url-pattern>/Corsi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>courseweb.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>courseweb.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>courseweb.controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/igw</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
