<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>courseweb.controller.download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCorsoD</servlet-name>
        <servlet-class>courseweb.controller.CreateCorsoD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCorsoD</servlet-name>
        <url-pattern>/CreateCorsoD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateLibroD</servlet-name>
        <servlet-class>courseweb.controller.CreateLibroD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLibroD</servlet-name>
        <url-pattern>/CreateLibroD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMaterialeD</servlet-name>
        <servlet-class>courseweb.controller.CreateMaterialeD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMaterialeD</servlet-name>
        <url-pattern>/CreateMaterialeD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMaterialeD</servlet-name>
        <servlet-class>courseweb.controller.UpdateMaterialeD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMaterialeD</servlet-name>
        <url-pattern>/UpdateMaterialeD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLibroD</servlet-name>
        <servlet-class>courseweb.controller.UpdateLibroD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLibroD</servlet-name>
        <url-pattern>/UpdateLibroD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLibro</servlet-name>
        <servlet-class>courseweb.controller.UpdateLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLibro</servlet-name>
        <url-pattern>/UpdateLibro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMateriale</servlet-name>
        <servlet-class>courseweb.controller.UpdateMateriale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMateriale</servlet-name>
        <url-pattern>/UpdateMateriale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>courseweb.controller.Log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaDocente</servlet-name>
        <servlet-class>courseweb.controller.ModificaDocente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaDocente</servlet-name>
        <url-pattern>/ModificaDocente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaCDL</servlet-name>
        <servlet-class>courseweb.controller.ModificaCDL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaCDL</servlet-name>
        <url-pattern>/ModificaCDL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateLibro</servlet-name>
        <servlet-class>courseweb.controller.CreateLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLibro</servlet-name>
        <url-pattern>/CreateLibro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllCorsi</servlet-name>
        <servlet-class>courseweb.controller.AllCorsi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllCorsi</servlet-name>
        <url-pattern>/AllCorsi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaCorso</servlet-name>
        <servlet-class>courseweb.controller.ModificaCorso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaCorso</servlet-name>
        <url-pattern>/ModificaCorso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMateriale</servlet-name>
        <servlet-class>courseweb.controller.CreateMateriale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMateriale</servlet-name>
        <url-pattern>/CreateMateriale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAdmin</servlet-name>
        <servlet-class>courseweb.controller.CreateAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAdmin</servlet-name>
        <url-pattern>/CreateAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateDocente</servlet-name>
        <servlet-class>courseweb.controller.CreateDocente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDocente</servlet-name>
        <url-pattern>/CreateDocente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCorso</servlet-name>
        <servlet-class>courseweb.controller.CreateCorso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCorso</servlet-name>
        <url-pattern>/CreateCorso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCDL</servlet-name>
        <servlet-class>courseweb.controller.CreateCDL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCDL</servlet-name>
        <url-pattern>/CreateCDL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Backoffice</servlet-name>
        <servlet-class>courseweb.controller.Backoffice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Backoffice</servlet-name>
        <url-pattern>/Backoffice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackofficeD</servlet-name>
        <servlet-class>courseweb.controller.BackofficeD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackofficeD</servlet-name>
        <url-pattern>/BackofficeD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Docenti</servlet-name>
        <servlet-class>courseweb.controller.Docenti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Docenti</servlet-name>
        <url-pattern>/Docenti</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DettagliDocente</servlet-name>
        <servlet-class>courseweb.controller.DetailsDocente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettagliDocente</servlet-name>
        <url-pattern>/DettagliDocente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Corsi</servlet-name>
        <servlet-class>courseweb.controller.Corsi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Corsi</servlet-name>
        <url-pattern>/Corsi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>courseweb.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>courseweb.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>courseweb.controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/igw</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
